{% comment %} {% load compress %} {% endcomment %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Blank title{% endblock title %}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script> {% endcomment %}

  {% comment %} {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
  {% endcompress %} {% endcomment %}

</head>
<body>
  {% block content %}
  {% endblock %}
</body>
</html>
