<!-- commons/change-password.html -->
{% extends '_base.html' %}
{% load tailwind_filters %}

{% block title %}Change Password Page{% endblock title %}

{% block content %} 
{% include "./components/sidebar.html" %}

<div class="sm:ml-64">
<div class="grid h-screen place-items-center bg-yellow-50">
  <div class="w-full max-w-sm">
    <h2>Change Password</h2>
    <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        {% csrf_token %}
        {{ form | crispy }}
        <a href="{% url 'home' %}">Back</a>
        <button type="submit">Submit</button>
    </form>
</div>
    <p class="text-center text-gray-500 text-xs">
      &copy;2023 Ardy Corp. All rights reserved.
    </p>
  </div>
</div>
    
{% endblock content %}

